# See https://help.github.com/ignore-files/ for more about ignoring files.

# Editor directories and files
*/.idea
*/*.vscode
*/*.suo
*/*.ntvs*
*/*.njsproj
*/*.sln

*/node_modules
*/.tmp
*
*.log

#################################
############# react #############
#################################

# testing
*/coverage
*/e2e/reports

# production
*/build
*/dist

# misc
*/.DS_Store
*/.env.local
*/.env.*.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
