# See https://help.github.com/ignore-files/ for more about ignoring files.

*/node_modules
*/bower_components
*/.tmp
*/tmp

# testing
*/coverage
*/e2e/reports

# production
*/dist
*/build
*/.publish

# misc
*.DS_Store
*.env.local
*.env.*.local
*.env.development.local
*.env.test.local
*.env.production.local

# Editor directories and files
*.idea
*.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
